@media only screen and (max-width: 1280px) {
    /* Nav */
    .nav-title {
        font-size: 32px;
    }
    .nav-button {
        font-size: 20px;
    }

    /* List */
    .product-container {
        padding: 50px 100px;
    }

    /* Order */
    .order-section {
        padding: 24px 100px;
    }

    /* Cart */
    .cart-section {
        padding: 24px 100px;
    }


}
